<h2>Créer un compte</h2>
<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="uk-width-1-3@m uk-text-center">
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="text" id="mail" formControlName="email" placeholder="Votre email">
        </div>
    </div>
    <div class="uk-margin">
        <div class="uk-inline uk-width-1-1">
            <span class="uk-form-icon" uk-icon="icon: user"></span>
            <input class="uk-input" type="password" id="password" formControlName="password" placeholder="Votre mot de passe">
        </div>
    </div>
      <button type="submit" class="uk-button uk-button-primary" [disabled]="signUpForm.invalid">Créer mon compte</button>
      <div class="uk-alert-danger" uk-alert *ngIf="errorMessage">
          <a class="uk-alert-close" uk-close></a>
          <p>{{errorMessage}}</p>
      </div>
</form>